[Unit]
Description=Howard Medical Headless Med-Display
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/hmpd
Restart=always
RestartSec=5

